<ion-view>
<ion-content>
<div class="list" id="formularioNew">
  	<label class="item item-input item-floating-label">
    	<span class="input-label">Name</span>
    	<input ng-model="itemDetails.name" type="text" placeholder="Name here">
  	</label>
	<label class="item item-input item-select">
		<div class="input-label">
			Category
		</div>
		<select ng-model="category.id" ng-options="category as category.name for category in categories"></select>	  
		</label>



  <label class="item item-input item-floating-label">
    <span class="input-label">Description</span>
    <input ng-model="itemDetails.description" type="text" placeholder="Description here">
  </label>
  <label>


<label class="item item-input item-floating-label">
    <span class="input-label">Video</span>
    <input ng-model="itemDetails.video" type="text" placeholder="Video here">
  </label>
  <label>






</div>
<button ng-click="addItem()" class="button button-block button-dark" id="addButton">
    Submit
</button>
</ion-content>
</ion-view>