<ion-view>
	<ion-content>
		<button ng-click="gotoaddCategory()" class="button button-block button-dark" id="addButton">
		Add New Category
		</button>
		<ion-list>
			<ion-item ng-repeat="categorias in categories">
				{{categorias.name}}
				<div id="buttonsCont">
					<button ui-sref="app.editCategoriesUpdate({id: categorias.id})" class="button button-small button-positive">
						Edit
					</button>
					<button ng-click="deleteCategory(categorias)"class="button button-small button-assertive">
						Delete
					</button>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>


<!--ion-view>
<ion-content id="xxx">
<button class="button button-block button-dark" id="addButton">
  Add New
</button>

<div class="row" ng-repeat="categorias in categories">
  <div class="col col-50">{{categorias.name}}</div>
  <div class="col"><button class="button button-small button-dark">
  Edit
</button></div>
  <div class="col"><button class="button button-small button-assertive">
  Delete
</button></div>
</div>
