/* Empty. Ad your own CSS if you like */

/* WRAPER */

ion-view {
	background-color:background: rgb(175, 175, 175);
	background: -moz-linear-gradient(93deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(93deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(93deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(93deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(183deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);	
}

#enterbutton {
	position: absolute;
	top: 500px;
	margin: auto;
	width: 150px;
}
#screen {
	opacity: 0.7;
}


/* LOGIN PAGE */

.logincont {
	position: fixed;
	margin: 170px 35px;
	width: 300px;
	height: 180px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 15px;	
}
#ionavatar {
	position: absolute;
	left: 180px;
}
.loginlabel {
	top: 43px;
}
.loginbutton {
	top: 33px;
}


/* MENU PAGE */

#submenu {
	background-color:background: rgb(175, 175, 175);
	background: -moz-linear-gradient(93deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
	background: -webkit-linear-gradient(93deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
	background: -o-linear-gradient(93deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
	background: -ms-linear-gradient(93deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
	background: linear-gradient(183deg, rgb(175, 175, 175) 0%, rgb(255, 255, 255) 100%);
}
#menuheader {
	background-color: #444;
}
#menuheader h1 {
	color: white;
}
#menuitem a {
	background-color: white;
	color: black;
}
#categoriItem a {
	background-color: #ebebeb;
	color: white;
}


/* HOME PAGE */

.ionview {
	background-color: #d2d1d1;
}	
#contlogo {
	position: absolute;
	top: 33%; 
	left: 33%;
	width: auto;
	height: auto;
	text-align: center;
	margin: auto;
}
#contlogo p {
	font-size: 2.5em;
	color: #222;
}
#homeicon {
	position: absolute;
	left: 18%;
}
#settingsicon {
	position: absolute;
	left: 43%;
}
#logouticon {
	position: absolute;
	right: 18%;	
}
#fondo {
 opacity: 0.3;
}
#ricon {
	position: absolute;
	right: 5px;
}


/* LIST THUMBNAILS PAGE */

#ionitemcont {
	padding-left: 12px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;	
}
#ionitemtext {
	margin-top: 8px; 
	padding: 4px;
	background-color: #ebebeb;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;	
}
#ionitemtext_category {
	position: relative;
	float: left;
	margin-top: -90px; 
	padding: 4px;
	width: 250px;
	margin-left: 100px;
	background-color: #fff;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;	
}
#thumbnailbackground {
	background-color: #d2d1d1;
}


/* ITEMS PAGE */

#itemsbackground {
	background-color: #d2d1d1;
}


/* OTHER STYLES IN APP */

#tabs {
	margin-top: 50px;
}
#addButton {
	margin-top: 1px;
}
#formularioNew {
	background-color: white;
}
#buttonsCont {
	float: right;
}
#buttonsCont button {
	margin-left: 25px;
	padding-left: 15px;
	padding-right: 15px;
}
#takePicButton {
	margin-left: 130px;
	margin-top: 5px;
	margin-bottom: 20px;
}
#imageDeleteButton {
	float: right;
	margin-top: -50px;
}
.file-upload{
	position: relative;
	width: 100%;
	margin-top: 0px;
}
.file-upload input{
	position: relative;
	opacity: 0;
	cursor: pointer;
	width: 100%;
	z-index: 1;
	padding-top: 10px;
	margin-top: 0px;
}
.file-upload i{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 0;
	margin-top: 0;
	padding: 0;
}
#save {
	margin-top: 0px;
}
#fromLibForm {
	margin-top: 0px;
	background-color: white;
}
#libraryContent {
	background-color: white;
}